:root {
  --zp-p12: 12px;
  --zp-window-height: calc(100vh - 43px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-weight: normal;
}

// BG Test, dont really like it
// body {
//   position: relative;
//   z-index: 1;

//   &::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: url('https://images.unsplash.com/photo-1593696954577-ab3d39317b97?q=80&w=2533&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center / cover;
//     opacity: .1;
//     z-index: 0;

//   }
// }

// #root {
//   position: relative;
//   z-index: 1;
// }

strong {
  font-weight: 800;
}

.zp-logo-history {
  margin-top: var(--sl-spacing-medium);
  text-align: center;

  img {
    width: 40px;
  }
}

.zp-mg-tp {
  margin-top: var(--sl-spacing-small);
}

.zp-mg-bt {
  margin-bottom: var(--sl-spacing-small);
}

.zp-text-small {
  font-size: .7rem;

  &--dim {
    color: var(--sl-color-neutral-600);
  }
}

.zp-text-danger {
  color: var(--sl-color-danger-400);
}

.zp-code-block {
  padding: 12px;
  border: 1px solid var(--sl-color-neutral-300);
  border-radius: 6px;
  overflow: auto;
}

// App
.zp-app {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  
  &.is-loading {
    justify-content: center;
    align-items: center;
  }
}

.zp-app-loader {
  text-align: center;

  img {
    width: 68px;
  }

  sl-spinner {
    font-size: 3rem;
  }
}

// Header
.zp-header {
  display: flex;
  align-items: center;
  padding: 6px var(--zp-p12);
  border-bottom: 1px solid var(--sl-color-neutral-300);
}

.zp-header-logo {
  width: 24px;
  margin-right: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.zp-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px var(--zp-p12);
  border-top: 1px solid var(--sl-color-neutral-300);
}

.zp-h-title {
  flex: 1;
  font-size: 1.125rem;
}

.zp-h-actions {
  margin-left: 12px;

  & > sl-button {
    margin-left: 6px;
  }
}

.zp-divider {
  margin: 18px 0;
  height: 1px;
  background: var(--sl-color-neutral-300);

  &--notop {
    margin-top: 0;
  }
}

// Input Group
.zp-igroup {
  display: flex;
  align-items: flex-end;

  sl-input {
    flex: 1;
  }
}

.zp-item-handle {
  padding: 12px;
  border-bottom: 1px solid var(--sl-color-neutral-300);
}

// Core
.zp-core {
  padding: 12px;
  flex: 1;
  overflow-y: auto;
}

.zp-cinner {
  padding-bottom: 18px;
}

.zp-cinner-sm {
  padding-bottom: 8px;
}

.zp-flex {
  display: flex;
  gap: 12px;

  &--end {
    align-items: flex-end;
  }

  &--min-block {
    display: block;

    @media (min-width: 22em) {
      display: flex;
    }
  }
}

.zp-flex-fill {
  flex: 1;
}

.zp-inner-actions {
  text-align: right;
}

.zp-list {
  .zp-list-anchor {
    position: relative;
    margin-bottom: var(--sl-spacing-small);
  }

  .zp-addon {
    display: none;
    margin-left: 14px;
    font-size: .7rem;
    color: var(--sl-color-neutral-600);
  }

  .zp-list-stacked {
    display: block;
  
    .zp-fav-btns {
      display: flex;
      justify-content: space-between;
    }

    .zp-fav-copy,
    .zp-fav-action {
      flex: 1;
      display: flex;
      justify-content: space-around;
    }

    .zp-fav-copy {
      .zp-fav-btn {
        order: 1;
      }
    }
  }

  &.show-dates {
    .zp-date {
      display: block;
    }
  }

  &.show-types {
    .zp-type {
      display: block;
    }
  }
}

.zp-search-input {
  text-align: right;
}

.zp-list-info {
  display: flex;

  .zp-list-dot {
    flex: 0 0 2px;
    margin-right: 12px;
    height: 26px;
    background: var(--sl-color-primary-600);

    // Type Coloring
    &.dot-STANDARD {
      background: var(--sl-color-primary-600);
    }

    &.dot-HTTP {
      background: var(--sl-color-orange-600);
    }

    &.dot-IMAGE {
      background: var(--sl-color-emerald-600);
    }

    &.dot-NUMBER {
      background: var(--sl-color-violet-600);
    }

    &.dot-UUID {
      background: var(--sl-color-pink-600);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 10%;
      width: 2px;
      background: var(--sl-color-neutral-400);
      z-index: -1;
    }
  }

  .zp-list-text {
    display: -webkit-box;
    font-size: .9rem;
    word-break: break-all;

    &--clamped {
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
      text-overflow: ellipsis;
      overflow: hidden;
      visibility: visible;
    }
  }
}

.zp-theme-text {
  sl-option {
    font-size: var(--sl-font-size-x-small);
  }
}

.zp-fav-action {
  display: flex;
  justify-content: flex-end;
}

.zp-data-display {
  max-height: 40vh;
}

.zp-data-text-area {
  margin-bottom: var(--sl-spacing-small);
}

// Panel
.zp-panel {
  padding: 8px 12px;
  margin-bottom: 12px;
  border: 1px solid var(--sl-color-neutral-300);
  border-radius: 6px;

  &.is-open {
    .zp-pbody {
      display: block;
    }

    .zp-phead-action {
      transform: rotate(90deg);
    }
  }
}

.zp-phead {
  display: flex;
  align-items: center;
}

.zp-phead-title {
  flex: 1;
}

.zp-phead-action {
  transform: rotate(0deg);
  transition: transform .1s ease-in-out;
}

.zp-pbody {
  display: none;
}

.zp-btn-full {
  sl-button {
    width: 100%;
  }
}
